  <h4 class="page-title matheader" >ASSET SELECTION
   <button class="mattext-danger" mat-dialog-close>X</button>
</h4>
<mat-dialog-content>
    <app-common [showLoader]="showLoader">
      </app-common>
  <div class="col-sm-12">
   
          <div class="row example-container clr_fl">                            
			<div class="col-md-4 mb2 pull-right">
				<div class="inner-addon right-addon mt10 mb10"> 
					<input type="text" (keyup)="applyFilter($event.target.value)"  class="form-control LSpadding" placeholder="Enter Asset Name..." />
					<a  class="list-search"><i class="fa fa-search"></i></a>
				</div>
			</div>							
			</div>
        <div class="mat-elevation-z8 example-container table-responsive mb10">
          <mat-table [dataSource]="dataSource" matSort matSortActive='assetId' matSortDirection='desc' matSortDisableClear>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- ID Column -->
            <!-- <ng-container matColumnDef="assetId">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.assetId}} </mat-cell>
            </ng-container> -->
            <!-- Destination Name Column -->
            <ng-container matColumnDef="assetName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.assetName}} </mat-cell>
            </ng-container>
            <!-- Status Column -->
            <ng-container matColumnDef="assetIdentifier">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Asset Identifier </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.assetIdentifier}} </mat-cell>
            </ng-container>
            <!-- Type Column -->
            <ng-container matColumnDef="locationName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.locationName}} </mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="createdBy">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Created By </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.createdByName}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <div class='table-grid-msg' *ngIf='dataSource && dataSource.data.length === 0'>No Records Found</div>
                                  <div class='table-grid-msg' *ngIf='dataSource && dataSource.data.length != 0 && dataSource.filteredData.length === 0'>No Matching Records Found</div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>       
     
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--<button mat-button [mat-dialog-close]="true" style="background-color:#1BB9D5; color: cornsilk;"
    cdkFocusInitial>CLOSE</button>-->
    <div class="text-right col-sm-12">
        <button type="button " class="btn btn-primary waves-effect waves-light" (click)="select()">Add</button>&nbsp;                                                            
        <button type="button " class="btn btn-default1 waves-effect waves-light " (click)="clear()">Clear</button>
    </div>
</mat-dialog-actions>
