<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header-title">
                        <h4 class="pull-left page-title">Back</h4>
                        <!-- <ol class="breadcrumb pull-right">
                            <li><a href="pages_index">Dashboard</a></li>
                            <li class="active">Users</li>
                            <li class="active">Manage Users</li>
                        </ol>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <a routerLink=".." class="btn btn-success pull-right m-adjust">
                                <i class="fa fa-user-plus"></i> Create Customer
                            </a><br>
                            <div class="col-lg-12 col-xlg-12 col-md-12">
                                <div class="fresh-table full-color-orange table-responsive ">
                                    <table datatable class="table custtable table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Customer ID</th>
                                                <th>Customer Name</th>
                                                <th>State</th>
                                                <th>Country</th>
                                                <th>Status</th>
                                                <th>Comments</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>5236</td>
                                                <td>testuser</td>
                                                <td>TN</td>
                                                <td>India</td>
                                                <td>Active</td>
                                                <td>testuser welcome</td>
                                                <td><i class="ti ti-pencil-alt edit-blue"></i> &nbsp; <i class="ti ti-trash del-red"></i></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>