/* .mat-header-cell {
    border-top: 0;
    background: #213247;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-right: 1px solid #ddd;
    font-size: 15px;
} */
.red-text
{
    color:red;
}
