/* 

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.input-mobile-number::-webkit-outer-spin-button,
.input-mobile-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cuspanel .panel-body {
  padding: 5px !important;
  height: 109px;
  overflow-y: auto;
  list-style-type: unset;
}
.cuspanel .panel-body ul {
  margin-bottom: 0px;
  padding: 0;
  font-size: 13px;
}
