  <h4 class="page-title matheader" >CONTACT SELECTION
   <button class="mattext-danger" mat-dialog-close>X</button>
</h4>
<mat-dialog-content>
    <app-common [showLoader]="showLoader">
    </app-common> 
    <div class="col-sm-12">    
              <div class="row example-container clr_fl">                            
			<div class="col-md-5 mb2 pull-right">
				<div class="inner-addon right-addon mt10 mb10"> 
					<input type="text" (keyup)="applyFilter($event.target.value)"  class="form-control LSpadding" placeholder="Enter User Name..." />
					<a  class="list-search"><i class="fa fa-search"></i></a>
				</div>
			</div>							
			</div>
         
          <div class="mat-elevation-z8 example-container table-responsive mb10 contact-SM">
            <mat-table [dataSource]="dataSource" matSort matSortActive='userId' matSortDirection='desc' matSortDisableClear>
                    <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                              <mat-checkbox  [disabled]="true" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                              </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                              <mat-checkbox value="matchecked" (click)="checkSelection(matchecked,row)" (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                              </mat-checkbox>
                            </td>
                          </ng-container>
              <!-- ID Column -->
              <!-- <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User Id </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
              </ng-container> -->
              <!-- configurationName Column -->
              <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
              </ng-container>
              <!-- Status Column -->
              <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <!--<span *ngIf = row.active class="badge badge-success">{{row.active}}</span>
                    <span *ngIf = !row.active class="badge badge-danger">{{row.active}}</span>-->
                   <span *ngIf = row.active ><img alt="user-img" class="" src="assets/images/active.jpg" /></span>
                 <span *ngIf = !row.active ><img alt="user-img" class="" src="assets/images/inactive.jpg" /></span>
                </mat-cell>
              </ng-container>
              <!-- Type Column -->
              <ng-container matColumnDef="emailId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.emailId}} </mat-cell>
                </ng-container>
              <!-- From Id Column -->
              <ng-container matColumnDef="mobileNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.mobileNo}} </mat-cell>
              </ng-container>
             <!--  <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">    
                  <i class="ti ti-pencil-alt edit-blue" title="Edit" (click)="editUser(row)"></i> 
                  &nbsp; <i class="ti ti-trash del-red" title="Delete" (click)="deleteUser(row)"></i>
                </mat-cell>
              </ng-container>     -->            
               <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <div class='table-grid-msg' *ngIf='dataSource && dataSource.data.length === 0'>No Records Found</div>
            <div class='table-grid-msg' *ngIf='dataSource && dataSource.data.length != 0 && dataSource.filteredData.length === 0'>No Matching Records Found</div>
            <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>              
    </div>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <!--<button mat-button [mat-dialog-close]="true" style="background-color:#1BB9D5; color: cornsilk;"
        cdkFocusInitial>CLOSE</button>-->
        <div class="text-right col-sm-12">
            <button type="button " class="btn btn-primary waves-effect waves-light" (click)="select()">Add</button>&nbsp;                                                            
            <button type="button " (click)="clear()" class="btn btn-default1 waves-effect waves-light ">Clear</button>
        </div>
    </mat-dialog-actions>
