<app-common [showLoader]="showLoader">
</app-common>
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row page-header-title">
                <div class="col-md-12">
                    <div class="col-md-8 col-xs-4">
                        <h4 class="pull-left page-title">Configuration</h4>
                    </div>
                    <div class="col-md-1 col-xs-1">
                        <a class="icon-create pull-right" data-toggle="tooltip"  routerLink="/index/configurations/add" title="Create Configuration"><i class="ti ti-layout-media-center createnew"></i></a>
                    </div>
                    <div class="col-md-3 col-xs-7 mb2  pull-right">
                        <div class="inner-addon right-addon mt5">
                                <input type="text" id="searchElement"  (keyup)="applyFilter($event.target.value)"  class="form-control LSpadding" placeholder="Configuration Name..." />
                          <a  class="list-search"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                         
                            <!--<a routerLink="/index/configurations/add" class="btn btn-success pull-right m-adjust">
                             Create Configuration
                            </a><br>
                            <mat-form-field>
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                <input class="search" matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Enter Configuration Name">
                                </mat-form-field>-->
                            <!-- <div class="row">                            
                              <div class="col-md-3 mb2">
                                <div class="inner-addon right-addon mt10"> 
                                  <input type="text" (keyup)="applyFilter($event.target.value)"  class="form-control LSpadding" placeholder="Enter Configuration Name..." />
                                  <a  class="list-search"><i class="fa fa-search"></i></a>
                                </div>
                              </div>
                              <a  routerLink="/index/configurations/add" class="btn btn-success pull-right m-adjust mt15">
                              Create Configuration
                              </a>
                            </div> -->
                           
                            <div class="mat-elevation-z8 example-container table-responsive">
                                <mat-table [dataSource]="dataSource" matSort matSortActive='configurationId' matSortDirection='desc' matSortDisableClear>
                                    <!-- ID Column -->
                                    <!-- <ng-container matColumnDef="configurationId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Configuration Id
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.configurationId}} </mat-cell>
                                    </ng-container> -->
                                    <!-- configurationName Column -->
                                    <ng-container matColumnDef="configurationName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Configuration Name
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="pointer" (click)="editConfiguration(row.configurationId)"> 
                                            <a>{{row.configurationName}} </a></mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="type">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Channel Type
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                                    </ng-container>
                                    <!-- Active Column -->
                                    <ng-container matColumnDef="active">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                        <!--<div>
                                            <select class="badge" (change)="statusUpdate(row)" [ngClass]="{'badge-success':row.active, 'badge-danger':!row.active}">
                                                <option value="true" [selected]="row.active">Active</option>
                                                <option value="false" [selected]="!row.active">In Active</option>
                                            </select>
                                        </div>  
                                          <span *ngIf = row.active class="badge label-success-custom">Active</span>
                                             <span *ngIf = !row.active class="badge label-danger">In Active</span>-->
                                          <span *ngIf = row.active><img alt="user-img" class="" src="assets/images/active.jpg"></span>
                                              <span *ngIf = !row.active><img alt="user-img" class="" src="assets/images/inactive.jpg"></span>	
                                        </mat-cell>
                                     
                                    </ng-container>
                                    <!-- Type Column -->
                                    
                                    <!-- Created By Column -->
                                    <!-- <ng-container matColumnDef="createdByName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Created By
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.createdByName}} </mat-cell>
                                    </ng-container> -->
                                    <!-- <ng-container matColumnDef="comments">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Comments
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.comments}} </mat-cell>
                                        </ng-container>     -->
                                    <ng-container matColumnDef="action">
                                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                         <!--    <i class="ti ti-pencil-alt edit-blue" title="Edit"
                                                (click)="editConfiguration(row.configurationId)"></i> &nbsp; -->
                                             <i class="ti ti-trash del-red" title="Delete"
                                                (click)="deleteConfiguration(row.configurationId, row.configurationName)"></i>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                </mat-table>
                                <div class='table-grid-msg' *ngIf='dataSource && dataSource.data.length === 0'>No Records Found</div>
                                  <div class='table-grid-msg' *ngIf='dataSource && dataSource.data.length != 0 && dataSource.filteredData.length === 0'>No Matching Records Found</div>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                            </div>

                            <div class="col-lg-12 col-xlg-12 col-md-12">
                                <div class="fresh-table full-color-orange table-responsive ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
