<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header-title">
                        <h4 class="pull-left page-title">Event Type</h4>
                        <!--<ol class="breadcrumb pull-right">
                            <li><a href="pages_index.html">Dashboard</a></li>
                            <li class="active">Users</li>
                            <li class="active">Create New Customer</li>
                        </ol>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-lg-12 col-xlg-12 col-md-12">
                                <div class="row ">
                                    <a routerLink=".." class="btn btn-success pull-right">
                                        <i class="ti ti-arrow-left"></i> Back
                                    </a>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">                                
                                            
                                                <form class="form-horizontal " role="form">
                                                    <div class="row">


                                                        <div class="col-md-12">
                                                            <div class="form-group required">
                                                                <label class="control-label">
                                                                    Event Type Name
                                                     </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="ion ion-network" aria-hidden="true"></i></span>
                                                                    <input aria-describedby="addon-right addon-left" type="text" placeholder="Enter Event Type Name" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
														
														 
 <div class="col-md-12">
                                                            <div class="form-group ">
                                                                <label class="control-label">
                                     Event Type Description
                                     </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="ti ti-list" aria-hidden="true"></i></span>
                                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-sm-12">
                                                            <span class="manadory text-left "><small style="color:red;font-size:15px; ">*</small> - Required field	</span>
                                                        </div>
                                                        <div class="text-right col-sm-12">
                                                            <button type="button " class="btn btn-primary waves-effect waves-light ">Create</button>&nbsp;                                                            
                                                            <button type="button " class="btn btn-default waves-effect waves-light ">Close</button>
                                                        </div>
                                                    </div><br>
													<h4>Event Type Listing</h4>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="fresh-table full-color-orange table-responsive ">
                                                                <table datatable class="table custtable table-striped table-bordered">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>Event Type ID</th>
                                                                            <th>Event Type Name
                                                                            </th>
                                                                            <th>Event Type Description</th>
                                                                            
																			 <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>

                                                                            <td>VR9393</td>
                                                                            <td><a class="btn btn-link waves-effect waves-light link-cust">Welding</a>
                                                                            </td>
                                                                            <td>des
                                                                            </td>
                                                                        
                                                                            <td><i class="ti ti-trash del-red"></i></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                           
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>